<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OCR Sample</title>

    <link rel="stylesheet" href="/stylesheets/intro.css" />
    
    <%include  ./common/commonUse.html%>
    <script type="text/javascript" src="/js/common/ocr.js"></script>
    <script type="text/javascript" src="/javascripts/rotate.js"></script>

    
    <style type="text/css">
    </style>
</head>

<body class="main">

    <div id="wrap4">
        <div id="container" class="main">
            <div id="sub_cont03">

                <div class="subt_wrap">
                    <div id="subtitDiv"><h2><%= title %></h2></div>
                </div>

                <div >
                    <a href="javascript://" class="btn" id="btn_crte_insert1" name="btn_crte_insert1" alt="추가" value="추가" onclick="uploadDlgImg();">이미지 선택</a>
                </div>

                <div class="floatLeft">
                    <div id="rotBtn">
                        <img class="btn-img" src="/images/rotation_icon.png" />
                    </div>
                    <!-- <img id="preview" /> -->
                    <img id="img" />
                </div>

                <div class="floatLeft2">
                    <table id="result" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>좌표</th>
                                <th>텍스트</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2" align="center">대기중..</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<input type="hidden" name="rotation" id="rotation" />

<a href="javascript://" class="sbtn js-open-modal" id="btn_uploadDlgImg" data-modal-id="img_uploadV" style="display:none;"><spring:message code='button.preview'/></a>
<div id="img_uploadV" class="modal_box w600" style="height: auto">
      <header> <a href="#" class="js-modal-close close">×</a>
        <h3>ocr 이미지 선택</h3>
        <p>(이곳에 이미지 크기 제한 찾아서 써야합니다.)</p>
      </header>
    <div class="modal-body">
        <div class="gallery_wrap">
            <div class="gallery">
                <div>
                    <form name="uploadForm" id="uploadForm" method="post" enctype="multipart/form-data">
                        <p class="texcon01">이미지업로드  </p>
                        <p>
                        <label class="btn" for="upload_file">파일선택</label>&nbsp;<span id="upload-name">(선택된 파일 없음)</span>
                        <input type="file" name="uploadFile" class="upload-hidden" id="upload_file" accept="image/*" style="display:none;"/>
                        <a href="javascript://" class="btn b02  btn-small" onclick="initFile();">초기화</a>
                        </p>
                    </form>
                    <!-- 미리보기 -->
                    <img id="previewPic" src="#"/>
                </div>
            </div>
        </div>
    </div>
    <!-- <footer> <a href="#" class="btn b02  btn-small js-modal-close">확인</a> </footer> -->
    <footer>
        <input type="button" class="btn" id="btn_fileupload" value="저장" disabled="disabled" style="opacity:0.5"/>
        <a href="#" class="btn b02  btn-small js-modal-close">취소</a>
    </footer>
</div>




</html>
